bin/
obj/
/packages/
/riderModule.iml
/_ReSharper.Caches/
/.idea/
.DS_Store

# My config
/Timesheet/Config.json
# My data files
/Timesheet/*.bin
# My report
/Timesheet/report.html
# My database
/Timesheet/Timesheet.db*
